In [1]:
#Stwórz dane z rozkładu normalnego o średniej 3 i odchyleniu standardowym 1 dla 100 oraz 10 000. Na podstawie tych sztucznie stworzonych zbiorów 
#oblicz statystyki poznane w module statystki opisowej. Opisz różnice pomiędzy statystkami i wynik swojej pracy wyślij Mentorowi jako Jupyter Noteboook 
#zapisany w Github.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler

mean = 3
std_dev = 1

# Generowanie danych z rozkładu normalnego
data_100 = np.random.normal(mean, std_dev, 100)
data_10000 = np.random.normal(mean, std_dev, 10000)

In [2]:
# Tworzenie DataFrame z danymi
df_100 = pd.DataFrame(data_100, columns=["value_100"])
df_10000 = pd.DataFrame(data_10000, columns=["value_10000"])

In [3]:
df_100

    value_100
0    2.816785
1    3.182449
2    2.145732
3    3.820048
4    2.604381
..        ...
95   1.683781
96   3.267472
97   3.333295
98   1.723097
99   3.004284

[100 rows x 1 columns]

In [4]:

df_10000

      value_10000
0        2.829279
1        4.151745
2        2.736525
3        2.483600
4        2.316131
...           ...
9995     1.964332
9996     3.459195
9997     0.352461
9998     4.308559
9999     3.116928

[10000 rows x 1 columns]

In [5]:
mean_df_100 = round(np.mean(df_100),2)
mean_df_100

np.float64(2.93)

In [6]:
mean_df_10000 = round(np.mean(df_10000),2)
mean_df_10000

np.float64(2.99)

In [7]:
mean_diff= mean_df_100-mean_df_10000
mean_diff

np.float64(-0.06000000000000005)

In [8]:
#Średnia wartość różni się miedzy 100 a 1000 obserwacji o 18 dziesiątych  cześci. róznica jest na poziomie 6%


median_df_100 = np.median(df_100)
median_df_100

np.float64(2.991484114015036)

In [9]:
median_df_10000 = np.median(df_10000)
median_df_10000

np.float64(2.997220401473382)

In [10]:
median_diff = median_df_100 - median_df_10000
median_diff

np.float64(-0.005736287458346201)

In [11]:
# Mediana jest na podobnym poziomie dla obu zbiorów, różnica wynosi 0,14 co przekłąda się na niecałe 5% różnicy

In [12]:
mode_df_100 = stats.mode(df_100)
mode_df_100

ModeResult(mode=array([0.54439156]), count=array([1.]))

In [13]:
mode_df_10000 = stats.mode(df_10000)
mode_df_10000

ModeResult(mode=array([-0.6870541]), count=array([1.]))

In [14]:
mode_diff = mode_df_100[0] - mode_df_10000[0]
mode_diff
# Co ciekawe dominanta dla 10000 obserwacji jest ujemna, a różnica między dominanta 100 a 1000 wynosi prawie 1. W obu przypadkach domunująca wartość 
#wystepuje jeden raz.

array([1.23144566])

In [15]:
q0_100 = np.quantile(df_100, 0.0)
q1_100 = np.quantile(df_100, 0.25)
q3_100 = np.quantile(df_100, 0.75)
q4_100 = np.quantile(df_100, 1.0)
print(f'Q0: {q0_100}')
print(f'Q1: {q1_100}')
print(f'Q2: {median_df_100}')
print(f'Q3: {q3_100}')
print(f'Q4: {q4_100}')

Q0: 0.5443915605623602
Q1: 2.184514392745617
Q2: 2.991484114015036
Q3: 3.4040297262654375
Q4: 5.674037416355452

In [16]:
q0_10000 = np.quantile(df_10000, 0.0)
q1_10000 = np.quantile(df_10000, 0.25)
q3_10000 = np.quantile(df_10000, 0.75)
q4_10000 = np.quantile(df_10000, 1.0)
print(f'Q0: {q0_1000}')
print(f'Q1: {q1_1000}')
print(f'Q2: {median_df_10000}')
print(f'Q3: {q3_1000}')
print(f'Q4: {q4_1000}')

NameError: name 'q0_1000' is not defined

In [ ]:
Q0_diff=q0_100-q0_10000
Q1_diff=q1_100-q1_10000
Q2_diff=median_df_100-median_df_10000
Q3_diff=q3_100-q3_10000
Q4_diff=q4_100-q4_10000
print(f'Q0_diff: {Q0_diff}')
print(f'Q1_diff: {Q1_diff}')
print(f'Q2_diff: {Q2_diff}')
print(f'Q3_diff: {Q3_diff}')
print(f'Q4_diff: {Q4_diff}')

In [ ]:
#największa różnica miedzy 2 zbiorami wystepuje w 0 oraz 4 kwartylu. Wynika to z tego, że przedział 10000 obserwacji jest dłuższy i zawiera więcej 
#obserwacji co sprawia, że jest bardziej wygładzony .

In [ ]:
range_10000 = df_100.max()[0] - df_100.min()[0]
range_100

In [ ]:
range_10000 = df_10000.max()[0] - df_10000.min()[0]
range_10000

In [ ]:
range_diff = range_100 - range_10000
range_diff
#Dla 10 000 obserwacji zakres wartości wynosi 7,3 jednostek, co jest większe niż 5,8 jednostek dla range_100. 
#Różnica wynosi 1,5 co oznacza że rozkład 10000 jednostek ma o 25% większy zakres

In [ ]:

standard_deviation_100 = np.std(df_100, ddof=1, axis = 0)[0]
print(standard_deviation_100)

In [ ]:
standard_deviation_10000 = np.std(df_10000, ddof=1, axis = 0)[0]
print(standard_deviation_10000)

In [ ]:
standard_deviation_diff = standard_deviation_100 - standard_deviation_10000
standard_deviation_diff
# W obu przypadkach odchylenie standardowe jest bardzo zbliżone do oczekiwanego =1, różnica między 2 zbiorami wynosi 0,01

In [ ]:
plt.boxplot(df_100)
plt.show()

In [ ]:
plt.boxplot(df_10000)
plt.show()

In [ ]:
#Zbiór 10000 ma znacznie więcej wartości odstających od zbioru